<!DOCTYPE html>
<html>
<head>
  <title>Internet Application Development with RoR by M.Diamond</title>
	<%= stylesheet_link_tag    "application", media: "all"%>
	<%= javascript_include_tag "application"%>
	<%= csrf_meta_tags %>
</head>
<body>
 <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to image_tag("RubyOnRails.png", :alt => "RoR", :size => '50'), "http://rubyonrails.org/" %>
          <a href="/home">
            <h3 id="app_heading">Internet Application Development with RoR</h3>
          </a>
            <a href="http://github.com/marciandmnd" target="_new"><h4 id="app_heading_author">by Marcian Diamond</h4></a>
        </div>
      </div>
  </header>
  <div class="container content">
    <%= yield %>
  </div>
<!-- /.container -->


    <!-- Bootstrap core JavaScript
    =========================
</body>
</html>
